<%= form_for([@post, @post.comments.build]) do |f| %>
  
  <div class="field">
   
    <%= f.text_area :body, :rows => 5, :style => "width:380px;" %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>