<div class="hero-unit">
	
	<h1>The Stories...</h1>
	<br>
		<div class="newPost">
			<div class="pull-right">
			
				<div class="btn btn-inverse">
					<%= link_to 'New Story', new_post_path, {:style => 'color: #FFFFFF'} %>
				</div>
			</div>
		</div>
</div>