<div class="container">
	<div class="about">
	<h1>Not everything should stay in Vegas.....</h1>
	<p>The Strip has too many epic stories, happenings and shenanigans.  It's a crime to not let the world be entertained by the craziness of Vegas.  Don't worry, your identity is safe, the story is all we need.</p>
	</div>
</div>