<h1>The Stories....</h1>
<br>
<table class="table table-striped">
  <thead>
    <tr>
      <th></th>
      <th>Title</th>
      
    </tr>
  </thead>

  <tbody>
  <%= render @posts %>
  </tbody>
</table>

<br />

<div class="btn"><%= link_to 'New Story', new_post_path %></div>
