
$baseFontFamily: Raleway;
@import url(http://fonts.googleapis.com/css?family=Raleway);
$navbarLinkColor: #EEE;
$navbarHighlightColor: #585D5E;
$navbarLinkColorHover: #968e8e;
$navbarLinkColorActive: #968e8e;
$navbarBrandColor: #EEE;

@import 'bootstrap';
@import 'bootstrap-responsive';

body {
	padding-top: 50px;
}
.footer {
	margin-top: 50px;
	
}

.navbar-inner {
	background:#585D5E;
	box-shadow: 10px 10px 5px #585D5E;
	padding-bottom: 15px;

}

.hero-unit {
	background:#968e8e;
	color:black;
	margin-top: 50px;
}



.brand:hover {
	color:#968e8e !important;
	text-decoration: none !important;
}

.brand {
	background:#EEE !important;

}

